[tool.poetry]
name = "asyncpgx"
version = "1.1.0"
description = "User-friendly extensions for asyncpg"
authors = ["Vladislav Laukhin <laukhin97@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.6"
asyncpg = "^0.21.0"

[tool.poetry.dev-dependencies]
pylint = "^2.6.0"
mypy = "^0.782"
docformatter = "^1.3.1"
pytest = "^6.1.0"
pytest-cov = "^2.10.1"
pytest-asyncio = "^0.14.0"
sphinx = "^3.2.1"
sphinx-rtd-theme = "^0.5.0"

[tool.black]
line-length = 120
target-version = ["py38"]
include = '\.pyi?$'
skip-string-normalization = true
exclude = '''
(
  /(
    | \.git
    | \.mypy_cache
  )/
)
'''

[tool.poetry.extras]
format = ["black", "isort"]

[tool.isort]
line_length = 120
sections = ['FUTURE', 'STDLIB', 'THIRDPARTY', 'FIRSTPARTY', 'LOCALFOLDER']
no_lines_before = ['STDLIB', 'LOCALFOLDER']
known_third_party = [
    'pytest',
]
known_local_folder = []
multi_line_output = 3
lines_after_imports = 2

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
